In [26]:
! pip install pandas
! pip install numpy
! pip install scikit-learn
! pip install matplotlib
! pip install seaborn

Requirement already satisfied: pandas in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (1.26.4)
Requirement already satisfied: scikit-learn in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: matplotlib in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=0.25 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ammyy\onedrive\desktop\nidhi\new folder\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [27]:
import pandas as pd
import numpy as np
import ast  # for parsing genre strings
from sklearn.preprocessing import MultiLabelBinarizer, MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [28]:
df = pd.read_csv("engineering colleges in India.csv", low_memory=False)
df.head(10)

,College Name,Genders Accepted,Campus Size,Total Student Enrollments,Total Faculty,Established Year,Rating,University,Courses,Facilities,City,State,Country,College Type,Average Fees
0,National Institute of Technology Rourkela,Co-Ed,647 Acres,4811,329,2007,3.12,NaN,"B.Tech Mechanical Engineering, B.Tech Computer...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Rourkela,Odisha,India,Public/Government,350600.0
1,Visvesvaraya National Institute of Technology ...,Co-Ed,215 Acres,1071,192,2007,NaN,NaN,"B.Tech Computer Science Engineering, B.Tech El...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Nagpur,Maharashtra,India,Public/Government,273596.6666666667
2,Netaji Subhas University of Technology,Co-Ed,145 Acres,3759,101,2018,NaN,NaN,"B.Tech Computer Engineering, B.Tech Electronic...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",New Delhi,Delhi,India,Public/Government,352320.0
3,Birla Institute of Technology,Co-Ed,980 Acres,4506,284,1955,NaN,NaN,"B.Tech Computer Science Engineering, B.Tech El...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Ranchi,Jharkhand,India,Private,596686.0465116279
4,International Institute of Information Technology,Co-Ed,66 Acres,1721,85,2001,3.05,NaN,"B.Tech Computer Science and Engineering, M.Tec...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Hyderabad,Telangana,India,Private,756666.6666666666
5,BMS College of Engineering,Co-Ed,15 Acres,5610,298,1946,3.83,"Visvesvaraya Technological University, Belagavi","BE Civil Engineering, BE Computer Science and ...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Bengaluru,Karnataka,India,Private,71558.66666666667
6,Institute of Chemical Technology,Co-Ed,16 Acres,1753,116,2008,3.77,NaN,"BE Chemical Engineering, B.Tech Fibres and Tex...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Mumbai,Maharashtra,India,Public/Government,189512.8205128205
7,Banaras Hindu University,Co-Ed,1300 Acres,27946,1637,1916,3.41,NaN,"BA Social Science, BA, B.Com, BA Hons, BA Soci...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Varanasi,Uttar Pradesh,India,Public/Government,82548.89763779528
8,Thapar Institute of Engineering and Technology,Co-Ed,250 Acres,8150,482,1956,3.29,NaN,"BE Computer Engineering, BE Mechanical Enginee...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Patiala,Punjab,India,Private,736823.0769230769
9,Shanmugha Arts Science Technology Research and...,Co-Ed,232 Acres,9838,750,2001,3.54,NaN,"B.Tech Computer Science and Engineering, B.Tec...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Thanjavur,Tamil Nadu,India,Private,415918.0327868852

In [29]:
# We only need Rating , Courses, City , and Average Fees for this project
college = df[['Rating', 'Courses', 'City', 'Average Fees']].copy()
print(college)

     Rating                                            Courses       City  \
0      3.12  B.Tech Mechanical Engineering, B.Tech Computer...   Rourkela
1       NaN  B.Tech Computer Science Engineering, B.Tech El...     Nagpur
2       NaN  B.Tech Computer Engineering, B.Tech Electronic...  New Delhi
3       NaN  B.Tech Computer Science Engineering, B.Tech El...     Ranchi
4      3.05  B.Tech Computer Science and Engineering, M.Tec...  Hyderabad
...     ...                                                ...        ...
5441    NaN  Diploma in Civil Engineering, Diploma in Compu...  Bengaluru
5442    NaN  Diploma in Civil Engineering, Diploma in Mecha...   Amritsar
5443    NaN  Diploma in Electrical Engineering, Diploma in ...     Paldhi
5444    NaN  BE Civil Engineering, BE Electrical Engineerin...       Arvi
5445    NaN  B.Arch, B.Des Fashion and Textile Design, B.De...     Jaipur

           Average Fees
0              350600.0
1     273596.6666666667
2              352320.0
3     596686.0465116279
4     756666.6666666666
...                 ...
5441            38490.0
5442            75100.0
5443           157000.0
5444           272000.0
5445           897500.0

[5446 rows x 4 columns]

In [30]:
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')

In [31]:
# Drop rows with missing values in important columns
# Clean column names
df.columns = df.columns.str.strip()

# Drop missing values in essential columns
df = df.dropna(subset=['Rating', 'Courses', 'City', 'Average Fees'])

# Clean 'Average Fees' to keep only numbers
def clean_fees(fee):
    if isinstance(fee, str):
        fee = re.sub(r'[^0-9]', '', fee)
        if fee.isdigit():
            return int(fee)
    return None

df['Average Fees'] = df['Average Fees'].apply(clean_fees)

# Drop rows where Average Fees could not be extracted
df = df.dropna(subset=['Average Fees'])

# Convert 'Rating' to float
try:
    df['Rating'] = df['Rating'].astype(float)
except:
    df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
    df = df.dropna(subset=['Rating'])

print("Data Preprocessing Done âœ…")
df.head()

Data Preprocessing Done âœ…

,College Name,Genders Accepted,Campus Size,Total Student Enrollments,Total Faculty,Established Year,Rating,University,Courses,Facilities,City,State,Country,College Type,Average Fees
0,National Institute of Technology Rourkela,Co-Ed,647 Acres,4811,329,2007,3.12,NaN,"B.Tech Mechanical Engineering, B.Tech Computer...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Rourkela,Odisha,India,Public/Government,3506000
4,International Institute of Information Technology,Co-Ed,66 Acres,1721,85,2001,3.05,NaN,"B.Tech Computer Science and Engineering, M.Tec...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Hyderabad,Telangana,India,Private,7566666666666666
5,BMS College of Engineering,Co-Ed,15 Acres,5610,298,1946,3.83,"Visvesvaraya Technological University, Belagavi","BE Civil Engineering, BE Computer Science and ...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Bengaluru,Karnataka,India,Private,7155866666666667
6,Institute of Chemical Technology,Co-Ed,16 Acres,1753,116,2008,3.77,NaN,"BE Chemical Engineering, B.Tech Fibres and Tex...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Mumbai,Maharashtra,India,Public/Government,1895128205128205
7,Banaras Hindu University,Co-Ed,1300 Acres,27946,1637,1916,3.41,NaN,"BA Social Science, BA, B.Com, BA Hons, BA Soci...","Boys Hostel, Girls Hostel, Gym, Library, Sport...",Varanasi,Uttar Pradesh,India,Public/Government,8254889763779528

In [32]:
# Function to recommend colleges
def recommend_colleges(rating_threshold, desired_course, city_preference, max_fees):
    # Apply filters
    filtered = df[
        (df['Rating'] >= rating_threshold) &
        (df['Courses'].str.contains(desired_course, case=False, na=False)) &
        (df['City'].str.contains(city_preference, case=False, na=False)) &
        (df['Average Fees'] <= max_fees)
    ]

    # Sort by Rating descending
    filtered = filtered.sort_values(by='Rating', ascending=False)

    return filtered[['College Name', 'Courses', 'City', 'Rating', 'Average Fees']]

In [33]:
# Taking input from user
rating_threshold = float(input("Enter minimum Rating (e.g., 3.5): "))
desired_course = input("Enter desired Course (e.g., Computer Science, Mechanical): ").strip()
city_preference = input("Enter preferred City (leave blank for any city): ").strip()
max_fees = int(input("Enter maximum Average Fees (in INR): "))

Enter minimum Rating (e.g., 3.5):  3.77
Enter desired Course (e.g., Computer Science, Mechanical):  Chemical Engineering
Enter preferred City (leave blank for any city):  Mumbai
Enter maximum Average Fees (in INR):  1895128205128205

In [34]:
# Recommend colleges based on inputs
recommended_colleges = recommend_colleges(rating_threshold, desired_course, city_preference, max_fees)

if recommended_colleges.empty:
    print("\nNo colleges match your criteria. Please try different filters.")
else:
    print("\nðŸŽ¯ Recommended Colleges:")
    display(recommended_colleges.head(10))  # Display top 10 results

ðŸŽ¯ Recommended Colleges:

,College Name,Courses,City,Rating,Average Fees
6,Institute of Chemical Technology,"BE Chemical Engineering, B.Tech Fibres and Tex...",Mumbai,3.77,1895128205128205